.bio-photo {
    float: left;
    padding-right:15px;
}
.bio p {
    margin-bottom: 1em;
}
.bio-header {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0;
}
.presenter_page_workshop_info {
    padding-top:15px;
    padding-bottom:15px;
}
.presenter_page_workshop_header {
    font-size: 1.3em;
    font-weight: bold;
}
.presenter_page_workshop_title {

}
.presenter_page_workshop_details {

}