.bio-photo {
    float: left;
    padding-right:15px;
}
.bio p {
    margin-bottom: 1em;
}
.bio-header {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0;
}
.workshop_info, .performance_info {
    padding-top:15px;
    padding-bottom:15px;
}
.workshop_header, .performance_header {
    font-size: 1.3em;
    font-weight: bold;
}